
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.api.js"></script>
<SCRIPT LANGUAGE="javascript" SRC="js/Reg_XY.js"></SCRIPT>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/buttons.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	margin: 0 auto;
	padding: 0;
	font: 12px/1.8 Microsoft YaHei,\5b8b\4f53,"宋体B8B\4F53", sans-serif;
	
}
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, table, th, td, form, legend, fieldset, input, button, select, textarea {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family:Microsoft YaHei,\5b8b\4f53,"宋体B8B\4F53", sans-serif;
	font-weight:bold;
	color:#333
}
.clear {
	clear: both;
	height: 1px;
	overflow:hidden;
}
.xyt{
	background:#f2f6f6;
/*	width:100%;*/
	height:40px;
	line-height:40px;
}
.xyt p{
	height:25px;
	line-height:25px;
	color:#000;
	padding-left:5px;
}
.xyt h2,.xyt h3{
	padding-left:5px;
	color:#c00;
	font-size:16px;
}
.xyl{
	background:#f2f6f6;
  display: black;
	width:140px;
	padding:5px 0 5px 5px;
	text-align:left;
	font-weight:100;
	color:#444;
}
.xyr{
	background:#fff;
	width:540px;
	padding:5px 0px 5px 5px;
  
}
.xyr2{
  text-align:center;
  margin:0 auto;
  background:#fff;
  width:540px;
  padding:5px 0px 5px 5px;
  
}
.xyr2 input{
	font-family:"微软雅黑";
	font-size:16px;
}
.xyr p{
	height:25px;
	line-height:25px;
	color:#000
}
.xyr .input{
	background:#f0f0f0;
	border:1px solid #BFBFBF;
	height:18px;
	width:210px;
}
</style>
</head>
<body>
<div id="xyreg">
<form  method="post" action="/028jiajiao_tp/Regxy/Create" >
  <table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
    <tr>
      <td colspan="2" class="xyt" bgcolor="#FFFFFF"><h2>注册学员档案及对家教要求</h2></td>
      </tr>
    <tr>
      <td colspan="2" class="xyt" bgcolor="#FFFFFF"><p style="font-size:14px;">请您认真填写以下信息，以备为您的孩子找到合适的家教。(当前时间：<{time()}>)</p></td>
      </tr>
    <tr>
      <td class="xyl">家长贵姓：</td>
      <td class="xyr"><table  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><input name="JZName" type="text" class="input" size="16" maxlength="16"> </td>
    <td><input type="radio" name="JZSex" value="先生"></td>
    <td>先生</td>
    <td><input type="radio" name="JZSex" value="女士"></td>
    <td>女士</td>
  </tr>
</table>
</td>
    </tr>
    <tr>
      <td class="xyl">联系电话：</td>
      <td class="xyr"><table  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><input name="JZTel" size="25" maxlength="24" class=input> </td>
    <td><input type="radio" name="JZTel" value="办"></td>
    <td>办公电话</td>
    <td><input type="radio" name="JZTel" value="宅"></td>
    <td>家庭电话</td>
  </tr>
</table></td>
    </tr>
    <tr>
      <td class="xyl">联系手机：</td>
      <td class="xyr"><input name="JZMob" type="text" class="input" size="25" maxlength="24"></td>
    </tr>
    <tr>
      <td colspan="2" class="xyt"><h3>学员概况介绍</h3></td>
    </tr>
    <tr>
      <td class="xyl">学生姓名：</td>
      <td class="xyr"><table border="0" cellpadding="0" cellspacing="0">
      <tr>
      <td><input name="XYName" type="text" class="input" size="16" maxlength="16"></td>
        <td><input type="radio" name="XYSex" value="男"></td>
        <td>男生</td>
        <td><input type="radio" name="XYSex" value="女"></td>
        <td>女生</td>
      </tr>
    </table></td>
    </tr>
    <tr>
      <td class="xyl">学生年级：</td>
      <td class="xyr"><SELECT name="XYGrade" size=1>
<%
	sql="select * from cdnianjiClass order by nianjiClassID"
	Set rs = Easp.db.GRS(sql)
%>
<%if rs.EOF and rs.bof then%>
<option value="">暂无年级</option>
<%else%>
<OPTION value="" >请选择年级</OPTION> 
<%do while not rs.eof%>
<OPTION value="<%=rs("nianjiClassName")%>"><%=rs("nianjiClassName")%></option>
<%
rs.MoveNext
loop
end if
%>
</SELECT></td>
    </tr>
    <tr>
      <td class="xyl">就读学校：</td>
      <td class="xyr"><input name="XYSchool" class=input size="24"></td>
    </tr>
    <tr>
      <td class="xyl">需辅导科目：</td>
      <td class="xyr"><input name="FDKemu" type="text" class="input" size="25"></td>
    </tr>
    <tr>
      <td class="xyl">上课时间安排：</td>
      <td class="xyr">
    <table border="0" cellspacing="1" bgcolor="#dddddd">
      <tr>
        <td height="30" width="40" align="center" bgcolor="#FFFFFF">时间</td>
        <td height="30" width="40" align="center" bgcolor="#FFFFFF">周一</td>
        <td height="30" width="40" align="center" bgcolor="#FFFFFF">周二</td>
        <td height="30" width="40" align="center" bgcolor="#FFFFFF">周三</td>
        <td height="30" width="40" align="center" bgcolor="#FFFFFF">周四</td>
        <td height="30" width="40" align="center" bgcolor="#FFFFFF">周五</td>
        <td height="30" width="40" align="center" bgcolor="#FFFFFF">周六</td>
        <td height="30" width="40" align="center" bgcolor="#FFFFFF">周日</td>
      </tr>
      <tr>
        <td height="30" align="center" bgcolor="#FFFFFF">上午</td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="1a" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="2a" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="3a" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="4a" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="5a" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="6a" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="7a" /></td>
      </tr>
      <tr>
        <td height="30" align="center" bgcolor="#FFFFFF">下午</td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="1b" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="2b" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="3b" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="4b" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="5b" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="6b" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="7b" /></td>
      </tr>
      <tr>
        <td height="30" align="center" bgcolor="#FFFFFF">晚上</td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="1c" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="2c" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="3c" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="4c" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="5c" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="6c" /></td>
        <td height="30" align="center" bgcolor="#FFFFFF"><input type="checkbox" name="SKShijian" value="7c" /></td>
      </tr>
      <tr>
        <td height="30" colspan="8" bgcolor="#FFFFFF">&nbsp;&nbsp;具体协商：
          <input type="checkbox" name="SKShijian" value="0" /></td>
      </tr>
    </table>
 
    </td>
    </tr>
    <tr>
      <td class="xyl">每次上课时长：</td>
      <td class="xyr"><select size="1" name="SKhours">
<OPTION value=1 >一小时</OPTION>
<OPTION value=2 selected>两小时</OPTION>
<OPTION value=3 >三小时</OPTION>
<OPTION value=4 >四小时</OPTION>
<OPTION value=5 >四小时以上</OPTION>
</select></td>
    </tr>
    <tr>
      <td class="xyl">授课地址：</td>
      <td class="xyr"><SELECT name=JZDiqu style="vertical-align: middle;" size=1  style="width:100px">
	<%
								sql="select * from cdAreaClass order by AreaClassID"
								Set rs = Easp.db.GRS(sql)
							%>
								<OPTION value="" >请选择区域</OPTION> 
								<%do while not rs.eof%>
								<OPTION value="<%=rs("AreaClassName")%>"><%=rs("AreaClassName")%></option>
								<%
								easp.wn rs("AreaClassName")
								rs.MoveNext
								loop							
								%>
								</SELECT>
								<input type="text" name="JZDizhi" size="32" class=input></td>
    </tr>
    <tr>
      <td class="xyl">学员情况描述：</td>
      <td class="xyr"><textarea rows="4" name="JZbeizhu" style="width:500px"></textarea><p style="font-size:14px;">请您尽可能的叙述学员的基础、学习状况、性格等以便为您推荐更合适老师。</p>
        <script type="text/javascript">
        var editor_a = new baidu.editor.ui.Editor();

        //渲染编辑器
        function render(){
            editor_a.render('JZbeizhu');
        }
    </script></td>
    </tr>
    <tr>
      <td colspan="2" class="xyt"><h3>对家教老师的要求</h3></td>
    </tr>
    <tr>
      <td class="xyl">家教老师性别：</td>
      <td class="xyr"><table width="140" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><input type="radio" name="JYsex" value="男" /></td>
        <td>男</td>
        <td><input type="radio" name="JYsex" value="女" /></td>
        <td>女</td>
        <td><input name="JYsex" type="radio" value="不限" checked="" /></td>
        <td>不限</td>
      </tr>
    </table></td>
    </tr>
    <tr>
      <td class="xyl">家教老师年龄：</td>
      <td class="xyr"><table width="480" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><input type="radio" name="JYage" value="20岁以上" /></td>
    <td>20岁以上</td>
    <td><input type="radio" name="JYage" value="25岁以上" /></td>
    <td>25岁以上</td>
    <td><input type="radio" name="JYage" value="30岁以上" /></td>
    <td>30岁以上</td>
    <td><input name="JYage" type="radio" value="不限" checked="" /></td>
    <td>不限</td>
  </tr>
</table></td>
    </tr>
    <tr>
      <td class="xyl">家教老师要求：</td>
      <td class="xyr"><table width="480" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><input type="radio" name="JYshenfen" value="在职教师" onClick="changetype()"/ ></td>
    <td>在职教师</td>
    <td><input type="radio" name="JYshenfen" value="大学生,研究生" onClick="changetype()" checked /></td>
    <td>大学生 / 研究生</td>
    <td><input type="radio" name="JYshenfen" value="研究生以上" onClick="changetype()" /></td>
    <td>研究生以上</td>
    <td><input type="radio" name="JYshenfen" value="外籍教师" onClick="changetype()" /></td>
    <td>外籍教师</td>
  </tr>
</table></td>
    </tr>
    <tr>
      <td class="xyl">家教受课方式：</td>
      <td class="xyr"><table width="240" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><input name="FDfangshi" type="radio" value="老师上门" checked="" /></td>
    <td>老师上门</td>
    <td><input name="FDfangshi" type="radio" value="学生上门" /></td>
    <td>学生上门</td>
    <td><input type="radio" name="FDfangshi" value="不限" /></td>
    <td>不限</td>
  </tr>
</table></td>
    </tr>
    <tr>
      <td class="xyl">需要老师人数：</td>
      <td class="xyr" ><select size="1" name="JYnum"  style="width:50px">
<OPTION value="1" selected >1名</OPTION>
<OPTION value="2" >2名</OPTION>
<OPTION value="3" >3名</OPTION>
<OPTION value="4" >4名</OPTION>
<OPTION value="5" >5名</OPTION>
<OPTION value="6" >5名以上</OPTION>
                  </select></td>
    </tr>
    <tr>
      <td class="xyl">愿意支付工资：</td>
      <td class="xyr"><select size="1" name="XinChou"  style="width:80px">
							<OPTION value selected>面议</OPTION>
							<OPTION value=40 >40元/小时</OPTION>
							<OPTION value=45 >45元/小时</OPTION>
							<OPTION value=50 >50元/小时</OPTION>
							<OPTION value=60 >60元/小时</OPTION>
							<OPTION value=70 >70元/小时</OPTION>
							<OPTION value=80 >80元/小时</OPTION>
							<OPTION value=90 >90元/小时</OPTION>
							<OPTION value=100 >100元/小时</OPTION>
							<OPTION value=200 >200元/小时</OPTION>
                  			</select></td>
    </tr>
    <tr>
      <td class="xyl">对家教要求详述：</td>
      <td class="xyr"><textarea rows="4" name="JZbeizhu" style="width:500px" ></textarea><p style="font-size:14px;">您可对您想要找的家教有什么要求可以在这叙述,无要求可留空。</p>
            <script type="text/javascript">
        var editor_a = new baidu.editor.ui.Editor();

        //渲染编辑器
        function render(){
            editor_a.render('JZbeizhu');
        }
    </script></td>
    </tr>
    <tr>
      <td class="xyl"></td>
      <td class="xyr2" >
      <input type="submit" value="提交" class="button button-rounded button-primary">
      </td>
    </tr>
  </table>
</form>
</div>
</body>
</html>
