
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<title>成都家教网创建学员档案和发布需求信息_成都家教-思问家教网</title>
<meta name="Keywords" content="成都家教,成都家教网,思问家教网," />
<meta name="Description" content="思问家教网成都家教中心正规家教公司,数万重点高校大学生、研究生、骨干教师、外教提供上门对您的孩子一对一辅导,是成都家教行业信赖的第一品牌,24小时热线028-66009003。" />
<link href="__PUBLIC__/css/css.css" rel="stylesheet" type="text/css" />

<SCRIPT LANGUAGE="javascript" SRC="__PUBLIC__/js/xueyuanb.js"></SCRIPT>

</head>
<include file='Common:top'/>
<center>
<body background="__PUBLIC__/images/bg.gif">
<div class="navbar2"><div class="box">当前所在位置: <a href="/">首页</a> &gt;<a >用户中心</a> &gt; <a>创建学员档案和发布需求信息</a></div></div>
<div class="g-box-list relative">
  <div class="g-jiaoyuan-page f-fl">
    <div class="box">

      <div class="f-qjj"><span class="f-qjz">请家教</span></div>
      <hr class="hr01" />
     
	      	<table border="0" width="90%" cellspacing="1">
	     	<tr><td><table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
  <tr>
    <td colspan="3" class="b_tujin"><span >在成都家教网免费找家教途径</span></td>
    </tr>
  <tr>
    <td colspan="3" class="tujin" ><h4>★途径一：拨打热线&nbsp;<span class="tujin_t">028-66009003</span></h4>
     <span >拨打我们的服务热线<strong class="tujin_s">028-66009003</strong>，把学生的情况和对老师的要求告诉客服人员，我们将为您择挑选合适教员。</span>
      </td>
	</tr>
    <tr>
    <td colspan="3" class="tujin"><h4>★途径二：在线预约</h4>
    <span>您可以直接进入<strong><a class="tujin_s"  href="/s-dq-0-km-0-xx-0-sf-0.shtml" >☆教员库☆</a></strong>检索教员信息，然后在线预约或打电话到中心预约。</span>
     </td>
	</tr>
    <tr >
    <td colspan="3" class="tujin"><h4>★途径三：填写订单</h4>
    <span>把下方的订单信息填写清楚，客服人员会根据您的要求挑选合适教员。
</span>
      </td>
  </tr >
</table></td></tr> 	
		<tr>
			<td><include file='Common:zhuce_xy'/></td>
		</tr>
    </table>
      
    </div>
  </div>
  <br class="f-cb">
</div>
  <!--########################################################################################-->    
<include file='Common:bottom'/>
</body>
</center>
</html>

