
<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
<meta http-equiv="Content-Language" content="zh-cn" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>成都家教网教员注册条例_成都家教-思问家教网</title>
<meta name="Keywords" content="成都家教,成都家教网,思问家教网," />
<meta name="Description" content="思问家教网成都家教中心正规家教公司,数万重点高校大学生、研究生、骨干教师、外教提供上门对您的孩子一对一辅导,是成都家教行业信赖的第一品牌,24小时热线028-66009003。" />
<link rel="__PUBLIC__/images/shortcut icon" href="favicon.ico" />
<link href="__PUBLIC__/css/css.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="__PUBLIC__js/jquery.min.js"></script>
<script>
  function jump(){
    window.location="/028jiajiao/Home/Regjy/zhuce_jy"
  }
  
</script>
<link href="__PUBLIC__/css/buttons.css" rel="stylesheet" type="text/css">
</head>
<include file='Common:top'/>
<body>
<center>
<div class="navbar2"><div class="box">目前所在位置: <a href="/">首页</a> &gt;<a >用户中心</a> &gt; <a>教员注册条例</a></div></div>

<div class="g-box-list">
  <div class="g-jiaoyuan-page">
    <div class="box">
    

  <table width="860" border="0" cellspacing="0" cellpadding="0" style="font-size:18px;" >
     <tr>
      	<td width=""  style="text-align:center;"  valign="top" bgcolor="#FFFFFF"><h2>教员注册条例 </h2></td>
     </tr>
     <tr bordercolor="#FF0066">
     	<td width="">
          <table>
          	<tr>
            	<td><h3>教员做家教流程：</h3></td>
               
            </tr>
             	<tr >
            	<td>1.在学员库中查看到有合适的学员,确定好时间、课酬、及自己的能力均没问题后致电028-66725630（杨老师）咨询</td>
               
            </tr>
             	<tr >
            	<td >2.缴纳服务保证金（为保证商业信息不被外泄，需先缴纳服务费用，属行业规则）</td>
            </tr>
            <tr >
            	<td>3.我中心提供家长联系方式给教员</td>
            </tr>
            <tr >
            	<td>4.教员与家长联系证实与协商授课事宜</td>
            </tr>
            <tr>
            	<td><h3>收费标准：</h3></td>
            </tr>
            <tr>
            	<td>一周之内在三次以下是一周课时费加半次，三次以上就收本周课时费，如是明星教员可视情况给予一定的优惠。</td>
            </tr>
            <tr>
            	<td><h3>缴费方式：</h3></td>
               
            </tr>
            <tr>
            	<td>1、直接到我们中心办公室缴费：成都市一环路南一段47号（川音大厦803室）</td>
            </tr>
            <tr>
            	<td>2、通过网银，支付宝，银行柜台等转账方式 (附：<a>各银行卡号</a> | <a>支付宝账号</a>)</td>
            </tr>
           <tr>
           	<td><h3>注意事项：</h3></td>
           </tr>
            <tr>
            	<td>一、当缴费成功后我中心给予教员家长联系方式后，请教员立即联系家长。联系完家长后请在半个小时之内给我们反馈和家长谈的结果（电话028-66725630）尤其是电话里与家长没谈成功及没确定好上课时间，请半小时内给予回复，如半小时内没回复视为成功不再做任何退费处理。经核实属实，当我们成功安排下位教员之后，只收该教员20元的服务费，剩余费用可作退费处理。但请注意，无论任何情况下影响了我们成功安排下位教员，我们不会做任何退费处理。</td>
               
            </tr>
            <tr>
            	<td>
                	二、在约定的时间去给学员辅导，辅导完毕后请在辅导完毕的半小时反馈上课结果（电话028-66725630）（如辅导完毕的半小时内没回复视为成功不再做任何退费处理）如没被家长录用，经核实属实，当我们成功安排下位教员之后，就只收该教员当次课时费，剩余费用可作退费处理。但请注意，如在你试讲之后，无论任何情况下影响了我们成功安排下位教员，我们不会做任何退费处理。
                </td>
            </tr>
            <tr>
            	<td>三、拿到家长联系方式后，如电话里和家长没谈成功及包括没确定好上课时间，请半小时内给予回复，如半小时内没回复视为成功不再做任何退费处理。经核实属实，当我们成功安排下位教员之后，只收该教员20元的服务费，剩余费用可作退费处理。但请注意，无论任何情况下影响了我们成功安排下位教员，我们不会做任何退费处理。如果教员自己放弃，将不做任何退费处理。</td>
            </tr>
            <tr>
            	<td>四、第一次去辅导，家长不满意教员，请在辅导完毕的半小时之内告知我中心（如辅导完毕的半小时内没回复视为成功不再做任何退费处理）经核实属实，当我们成功安排下位教员之后，就只收该教员当次课时费，剩余费用可作退费处理。但请注意，如在你试讲之后，无论任何情况下影响了我们成功安排下位教员，我们不会做任何退费处理。</td>
            </tr>
            <tr>
            	<td> 五、我们始终坚持诚信为本，也希望教员如此，依据成都家教网的行业规定，在任何情况下，教员自己放弃，将做不退费处理。</td>
            </tr>
          </table>
       </td>
   </tr>
   <tr height="15px">
   		<th align="center" ><h3>成都家教网注册须知</h3></th>
   </tr>
   <tr>
   		<td>1.教员注册请如实填写个人资料，经审核后方可显示在教员库中展示出来。</td>
   </tr>
   <tr>
   		<td>2.教员必须诚信，并具有为人师表的道德水准，否则由此造成的一切后果由教员自己承担。 </td>
   </tr>
   <tr>
   		<td>3.教员首次和家长交流时请详细了解家长和学生的详细信息，并根据个人的情况作出判断是否愿意做此份家教。 </td>
   </tr>
   <tr>
   		<td>4.思问家教网仅负责提供家教信息，不承担家教信息以外的其它任何责任。</td>
   </tr>
 </table>
 
 <script type="text/javascript">
 function agree(){  
    if(document.getElementById("check_id").checked==true){  
        document.getElementById("submit").disabled = false;  
    }else{  
        document.getElementById("submit").disabled = true;  
    }  
}  
  </script>


	
		<p> <input name="confirm"  type="checkbox" onClick="agree();" id="check_id"/>
			<span class=buleo2_link_9>确定已经认真阅读并接受 《<a href="#">注册条例</a>》  </span>
        </p><br/>
		<input  class="button glow button-rounded button-flat-primary" type="button" name="Submit2" value=" 返回首页" onClick="location.href='/'">
            		<input  class="button glow button-rounded button-flat-primary" type="submit" name="bottom" id="submit" onclick="jump()" value="同意注册" disabled="disabled">
           
         
		
 </div>
 </div>
 </div>       
<include file='Common:bottom'/>
 </center>
</body>
</html>
