
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
<meta http-equiv="Content-Language" content="zh-cn" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>成都家教网-思问家教网【大学生在职老师上门家教】免中介费免费试讲</title>
<meta name="Keywords" content="成都家教,成都家教网,成都家教中心,成都大学生家教网" />
<meta name="Description" content="成都家教网-思问家教网,成都家教中心是正规家教公司,大学生在职老师上门家教,免中介费,免费试讲,是成都家教行业信赖的第一品牌,家长专线028-6600 9003。" />
<link href="__PUBLIC__/css/indexcss.css" rel="stylesheet" type="text/css" />
<meta property="qc:admins" content="15056317776020211211763757" />
<meta name="baidu-site-verification" content="NddB6LVQSF" />

</head>
<body>

<include file="Common:top"/>
<center>
<div class="">
	<div class="navbar"><div class="box">目前所在位置: <a href="/">首页</a> &gt; <a>教员信息库</a> &gt; 教员信息</div></div>	
 	<div class="g-box-list relative">
  <div class="g-jiaoyuan-page f-fl">
    <div class="box">
      <p><span class="f-fr">教员编号：<{$data.userid}></span>教员详细信息资料</p>
      <strong style="float:left">基本信息</strong>
	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
        <tr>
          <td class="f-jiaoyuan-1">姓&nbsp;&nbsp;&nbsp;&nbsp;名</td>
		  <td class="f-jiaoyuan-2"><{$data.realname|msubstr=0,1}>教员</td>
		  <td class="f-jiaoyuan-3">性&nbsp;&nbsp;&nbsp;&nbsp;别</td>
          <td class="f-jiaoyuan-4"><{$data.sex}></td>
          <td class="f-jiaoyuan-5">出生日期</td>
          <td class="f-jiaoyuan-6"><{$data.birth}>年<{$data.month1}>月</td>
          <td class="f-jiaoyuan-7"></td>
        </tr>
        <tr>
          <td class="f-jiaoyuan-1">来&nbsp;&nbsp;&nbsp;&nbsp;自</td>
          <td class="f-jiaoyuan-2"><{$data.jiguan}></td>
          <td class="f-jiaoyuan-3">民&nbsp;&nbsp;&nbsp;&nbsp;族</td>
          <td class="f-jiaoyuan-4"><{$data.minzu}></td>
          <td class="f-jiaoyuan-5">教员类型</td>
          <td class="f-jiaoyuan-6"><{$data.shenfen}></td>
          <td class="f-jiaoyuan-7"></td>
        </tr>
        <tr>
          <td class="f-jiaoyuan-1">目前身份</td>
          <td class="f-jiaoyuan-2"><{$data.shenfen}></td>
		   <td class="f-jiaoyuan-3">就读院校</td>
		  <td class="f-jiaoyuan-4"><{$data.school}></td>
		  <td class="f-jiaoyuan-5">最高学历</td>
          <td class="f-jiaoyuan-6"><{$data.education}></td>
          <td class="f-jiaoyuan-7"></td>
        </tr>
        </table>
        <strong style="float:left">技能信息</strong>
        <table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
        <tr>
          <td class="f-jiaoyuan-1">所学专业</td>
          <td class="f-jiaoyuan-2"><{$data.professional}></td>
          <td class="f-jiaoyuan-3">外&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;语</td>
          <td class="f-jiaoyuan-4"><{$data.language}></td>
          <td class="f-jiaoyuan-5">普&nbsp;&nbsp;通&nbsp;&nbsp;话</td>
          <td class="f-jiaoyuan-6"><{$data.pthua}></td>
          <td class="f-jiaoyuan-7"></td>
        </tr>
      </table>
        <strong style="float:left">授课信息</strong>
        <table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#dddddd">
        <tr>
          <td class="f-jiaoyuan-1">教授科目</td>
          <td class="f-jiaoyuan"><{$data.myfirstjob}></td>
        </tr>
        <tr>
          <td class="f-jiaoyuan-1">其他科目</td>
          <td class="f-jiaoyuan"><{$data.mysecondjob}></td>
        </tr>
        <tr>
          <td class="f-jiaoyuan-1">授课时间</td>
          <td class="f-jiaoyuan"><{$data.gongzuoshijian}></td>
        </tr>
        <tr>
          <td class="f-jiaoyuan-1">授课区域</td>
          <td class="f-jiaoyuan"><{$data.gzdd}></td>
        </tr>
      </table>
        <strong style="float:left">描述信息</strong>
        <table width="100%" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#ccc">
        <tr>
          <td class="f-jiaoyuan-1">自我描述</td>
          <td class="f-jiaoyuan"><{$data.ziwomiaoshu}></td>
        </tr>
        <tr>
          <td class="f-jiaoyuan-1">家教经历</td>
          <td class="f-jiaoyuan"><{$data.jingli}></td>
        </tr>
        <tr>
          <td class="f-jiaoyuan-1">薪水要求</td>
          <td class="f-jiaoyuan">每小时最低<{$data.shoufei}>元<br /><a href="#">参照思问家教网薪水标准</a></td>
        </tr>
        <tr>
          <td class="f-jiaoyuan-1">家长专线</td>
          <td class="f-jiaoyuan"><span style="font-family:'微软雅黑'"><font color="#FB0429" size="+2" >028-66009003</font>(家长请拨打此服务热线，我们竭诚为您推荐满意教员)</span></td>
        </tr>
      </table>
    </div>
  </div>
  <br class="f-cb">
  <div class="zhuangtai absolute">已审核</div>
 <div id="output" class="absolute"></div>
</div>    
</div>		
<include file="Common:bottom"/>
</center>
</body>
</html>
