<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="utf-8" />
<title>关于我们_成都家教网</title>
<link href="__PUBLIC__/css/css.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style6 {color: #FFFFFF; font-weight: bold; }
.text {}
*{
	margin:0;
	padding:0;	
}

-->
</style>
</head>

<body>
<include file="Common:top"/>
<center>
<div class="navbar2"><div class="box">当前所在位置: <a href="/">首页</a> &gt; 思问简介 </div></div>
	<div class="aboutwe">
    <div class="aboutsm">
<h1 align="center">关于我们</h1><br />
	<p class="text">　　<a href="http://www.028jiajiao.com"><font color="#cc0000">成都家教网</font></a><span lang="zh-cn">(隶属于成都思问教育咨询有限公司)</span>创建于2002年，于2006年8月建立 <a href="http://www.028jiajiao.com/">http://www.028jiajiao.com</a> 网站。<br>
</p>
            
      <p class="text">　　传统的家教服务，单纯以推荐教师上门辅导为服务范围，既单一又落后，无法保证教学质量。</p><br>
                     
            <p class="text">　　我们的服务是以网络为基础，配合市场实际客户需求，凭借现有成熟的网络资源，先进的现代化运作模式和专业的服务队伍，促使请家教和做家教双方的双向选择和交流，通过网站，学员与教员直接进行沟通、联系，您只需点击鼠标即可找到适合您的教员或学员。</p><br>
                    
      <p class="text">　　我们极力促进中国家教行业的信息化、网络化、电子商务化的发展，对家教行业进行了革命性的创新。教员用户可以自由在网站上发布做家教简历，查询需求信息，直接联系适合您的请教员或学员信息。学员用户可以自行公布请家教需求，按照自己的要求自主搜索和选择适合的教员。同时网站提供对于学员和教员的信息自动优化匹配，在最大程度上节省了双方用户的时间和精力，并且彻底改变了传统家教的服务模式。</p><br>
      <p class="text">　　我们竭力提供规范化、专业化的服务，对聘用教员实行严格的认证制度，对教员的认证档案和教学简历进行网上网下双重存档，为学员提供安全和规范的上门服务。我们提供的家教辅导既包括传统的中小学语文、英语、数理化等文化教育项目，也涵盖了计算机、英语口语、各类外语考试、成人教育等综合类项目，而且美术、绘画、音乐、乐器、舞蹈等各种艺术类项目上也具有很强的优势，能够为广大家长和学员提供各个级别、各个学科的文化素质教育综合服务。</p><br>
         <p class="text"></p>        
      <p class="text">　　我们关注于教学质量的严格把关，除了对所有教员进行岗前认证之外，还对所服务的学员客户实行全程质量跟踪，对教员教学质量实行评级和考核，定期对学员客户进行状况回访。除此之外，还通过各种措施保证所分派教员的教学质量，最大程度提高所教授学生的学习成绩和综合素质，实现家长对孩子教育投资的高回报。</p><br>
   <hr><br />
   <h2 align="center">我们拥有</h2><br />
   <p style="color:green;">☆卓越的教师团队</p><br>
   <p style="font-size:13px;text-indent :20px;">公司通过8年的不断努力，并且经过严格的教员审核制度，吸收和接纳了三万多名优秀注册教员</p><br>
   <p style="color:green;">☆严谨的办学态度</p><br>
   <p style="font-size:13px;text-indent :20px;">我们认真对待每一名学员，深入了解孩子学习习惯，学科弱点，制定高效辅导计划</p><br>
   <p style="color:green;">☆专业的服务品质</p><br>
   <p style="font-size:13px;text-indent :20px;">我们力求为每一位学员找到符合自身情况的老师，在家教过程中及时回访教员教学情况，并可免费更换家长满意的教员</p><br>
    <p style="color:green;">☆便捷的教师预约服务</p><br>
    
    <p style="font-size:13px;text-indent :20px;">一个电话为您解决一切困扰，24小时内完成安排</p><br>
    </div>
  </div> 
  <include file="Common:bottom"/>
</center>
</body>
</html>

