<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
<meta http-equiv="Content-Language" content="zh-cn" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"><!--使ie在最新的渲染模式下运行-->
<title>成都家教网-思问家教网【大学生在职老师上门家教】免中介费免费试讲</title>
<meta name="Keywords" content="成都家教,成都家教网,成都家教中心,成都大学生家教网" />
<meta name="Description" content="成都家教网-思问家教网,成都家教中心是正规家教公司,大学生在职老师上门家教,免中介费,免费试讲,是成都家教行业信赖的第一品牌,家长专线028-6600 9003。" />
<link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/indexcss.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/buttons.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script  type="text/javascript"  src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body background="__PUBLIC__/images/bg.gif">
<center>
<include file='Common:top'/>  <!--引用公共模板-->
<div class="count_s">
	<div class="ksdaohangd ">
    	<span>快速导航</span>
    	<div id="white" style="height:25px; line-height:25px; margin-bottom:5px; position:relative;">
			<form method="get" action="/" id="search">
  				<input name="q" id="sltTarget" type="text" size="40" placeholder="按Enter键搜索..." />
			</form>
		</div>
    </div>
	<div class="nav_kuaisu">
    	<ul class="daohang_ul" style="float:right; border-left:1px solid #CAC4C1">
        	<li class="kuaisu_bt2">快速找学员</li>
            <li id="nav_xy" style="list-style:none">
            	<div class="test_xy nav_xy_t">
                	<ul >
                        <li id="f1"  onmouseover="setTab('f',1,4)"><a>地区</a></li>
                        <li id="f2" class="hover" onMouseOver="setTab('f',2,4)"><a>科目</a></li>
                        <li id="f3"  onmouseover="setTab('f',3,4)"><a>年级</a></li>
                        <li id="f4"  onmouseover="setTab('f',4,4)"><a>学员身份</a></li>
                	</ul>
               </div >
               <div class="nav_xy_b"> 
               		<div id="con_f_1" style="display:none;"  > 
                		<ul onDblClick="removeItem();" id="sltSrc">  <!--这里定义了一个鼠标点击事件-->
                        	<li><a href="" title="成都市内家教" target="_blank"><font color="#FF4E00">成都市内</font></a></li>
                        	<li><a >武侯区</a></li>
                        	<li><a >锦江区</a></li>
                        	<li><a >青羊区</a></li>
                        	<li><a href="" target="_blank">金牛区</a></li>
                            <li><a href="" target="_blank">成华区</a></li>
                            <li><a href="" target="_blank">新都</a></li>
                            <li><a href="" target="_blank">双流</a></li>
                            <li><a href="" target="_blank">郫县</a></li>
                            <li><a href="" target="_blank">温江</a></li>
                            <li><a href="" target="_blank">龙泉</a></li>
                            <li><a href="" target="_blank">其他</a></li>	
	                	</ul>
               		</div >
                    <div id="con_f_2"  style="display:block;">
                    	<ul>
                     <li><a title="小学家教" href="/xiaoxue/" target="_blank"><font color="#FF4E00">小学家教</font></a></li>
                            <li><a title="小学语文家教" href="/xiaoxueyuwen/" target="_blank">小学语文</a></li>
                            <li><a title="小学数学家教" href="/xiaoxueshuxue/" target="_blank">小学数学</a></li>
                            <li><a title="小学英语家教" href="/xiaoxueyingyu/" target="_blank">小学英语</a></li>
                            <li><a title="小学奥数家教" href="/xiaoxueaoshu/" target="_blank">小学奥数</a></li>
                            <li><a title="小升初家教" href="/xiaoshengchu/" target="_blank">小升初家教</a></li><br />
                            <li><a title="初中家教" href="/chuzhong/" target="_blank"><font color="#FF4E00">初中家教</font></a></li>		
                            <li><a title="初中语文家教" href="/chuzhongyuwen/" target="_blank">初中语文</a></li>
                            <li><a title="初中数学家教" href="/chuzhongshuxue/" target="_blank">初中数学</a></li>
                            <li><a title="初中英语家教" href="/chuzhongyingyu/" target="_blank">初中英语</a></li>
                            <li><a title="初中物理家教" href="/chuzhongwuli/" target="_blank">初中物理</a></li>
                            <li><a title="初中化学家教" href="/chuzhonghuaxue/" target="_blank">初中化学</a></li>
                            <li><a title="初中生物家教" href="/chuzhongshengwu/" target="_blank">初中生物</a></li><br>
                            <li><a title="高中家教" href="/gaozhong/" target="_blank"><font color="#FF4E00">高中家教</font></a></li>
                            <li><a title="高中语文家教" href="/gaozhongyuwen/" target="_blank">高中语文</a></li>
                            <li><a title="高中数学家教" href="/gaozhongshuxue/" target="_blank">高中数学</a></li>
                            <li><a title="高中英语家教" href="/gaozhongyingyu/" target="_blank">高中英语</a></li>
                            <li><a title="高中物理家教" href="/gaozhongwuli/" target="_blank">高中物理</a></li>
                            <li><a title="高中化学家教" href="/gaozhonghuaxue/" target="_blank">高中化学</a></li>
                            <li><a title="高中生物家教" href="/gaozhongshengwu/" target="_blank">高中生物</a></li><br>
                            <li><a title="英语家教" href="/yingyu/" target="_blank">英语</a></li>
                            <li><a title="数学家教" href="/shuxue/" target="_blank">数学</a></li>
                            <li><a title="语文家教" href="/yuwen/" target="_blank">语文</a></li>
                            <li><a title="物理家教" href="/wuli/" target="_blank">物理</a></li>
                            <li><a title="化学家教" href="/huaxue/" target="_blank">化学</a></li>
                            <li><a title="生物家教" href="/shengwu/" target="_blank">生物</a></li>
                            <li><a title="政治家教" href="/zhengzhi/" target="_blank">政治</a></li>
                            <li><a title="地理家教" href="/dili/" target="_blank">地理</a></li>
                            <li><a title="历史家教" href="/lishi/" target="_blank">历史</a></li>
                            <li><a title="作文家教" href="/zuowen/" target="_blank">作文</a></li>
                            <li><a title="奥数家教" href="/aoshu/" target="_blank">奥数</a></li><br />
                            <li><a title="钢琴家教" href="/gangqin/" target="_blank">钢琴</a></li>
                            <li><a title="电子琴家教" href="/dianziqin/" target="_blank">电子琴</a></li>
                            <li><a title="古筝家教" href="/guzheng/" target="_blank">古筝</a></li>
                            <li><a title="美术家教" href="/meishu/" target="_blank">美术</a></li>	
                        </ul>
                    </div> 
                    <div id="con_f_3"  style="display:none;">
                    	<ul>
                        	<li><a href="" target="_blank">启蒙教育</a></li>
                        	<li><a href="" target="_blank">小学一年级</a></li>
                        	<li><a href="" target="_blank">小学二年级</a></li>
                        	<li><a href="" target="_blank">小学三年级</a></li>
                        	<li><a href="" target="_blank">小学四年级</a></li>
                            <li><a href="" target="_blank">小学五年级</a></li>
                            <li><a href="" target="_blank">小学六年级</a></li>
                            <li><a href="" target="_blank">初中一年级</a></li>
                            <li><a href="" target="_blank">初中二年级</a></li>
                            <li><a href="" target="_blank">初中三年级</a></li>
                            <li><a href="" target="_blank">高中一年级</a></li>
                            <li><a href="" target="_blank">高中二年级</a></li>
                           	<li><a href="" target="_blank">高中三年级</a></li>
                        	<li><a href="" target="_blank">大学一年级</a></li>
                        	<li><a href="" target="_blank">大学二年级</a></li>
                        	<li><a href="" target="_blank">大学三年级</a></li>
                            <li><a href="" target="_blank">大学四年级</a></li>
                            <li><a href="" target="_blank">其他</a></li>
		
                        </ul>
                    </div> 
                    <div id="con_f_4"  style="display:none;">
                    	<ul>
               				<li><a rel="nofollow" href="/xueyuan/nan/" target="_blank">男学员</a></li>
                            <li><a rel="nofollow" href="/xueyuan/nv/" target="_blank">女学员</a></li>

                        </ul>
                    </div> 
                </div>    
            </li>
        </ul>
        
        <ul class="daohang_ul" style="float:left;"  >
        	<li class="kuaisu_bt1">快速找教员</li>
            <li id="nav_xy" style="list-style:none">
            	<div class="test_jy nav_xy_t">
            		<ul>
                        <li id="one1"   onmouseover="setTab('one',1,4)"><a >地区</a></li>
                        <li id="one2"  class="hover" onMouseOver="setTab('one',2,4)"><a >科目</a></li>
                        <li id="one3" onMouseOver="setTab('one',3,4)"><a >高校</a></li>
                        <li id="one4"  onmouseover="setTab('one',4,4)"><a>教员身份</a></li>
	                </ul>
                </div>  
                <div class="nav_xy_b">
                	<div id="con_one_1" style="display:none;"> 
                		<ul>
                        	<li><a href="" title="成都市内家教" target="_blank"><font color="#FF4E00">成都市内</font></a></li>
                        	<li><a href="" target="_blank">武侯区</a></li>
                        	<li><a href="" target="_blank">锦江区</a></li>
                        	<li><a href="" target="_blank">青羊区</a></li>
                        	<li><a href="" target="_blank">金牛区</a></li>
                            <li><a href="" target="_blank">成华区</a></li>
                            <li><a href="" target="_blank">新都</a></li>
                            <li><a href="" target="_blank">双流</a></li>
                            <li><a href="" target="_blank">郫县</a></li>
                            <li><a href="" target="_blank">温江</a></li>
                            <li><a href="" target="_blank">龙泉</a></li>
                            <li><a href="" target="_blank">其他</a></li>	
	                	</ul>
               		</div >
                    <div id="con_one_2"  style="display:block;">
                    	<ul>
                            <li><a title="小学家教" href="/xiaoxue/" target="_blank"><font color="#FF4E00">小学家教</font></a></li>
                            <li><a title="小学语文家教" href="/xiaoxueyuwen/" target="_blank">小学语文</a></li>
                            <li><a title="小学数学家教" href="/xiaoxueshuxue/" target="_blank">小学数学</a></li>
                            <li><a title="小学英语家教" href="/xiaoxueyingyu/" target="_blank">小学英语</a></li>
                            <li><a title="小学奥数家教" href="/xiaoxueaoshu/" target="_blank">小学奥数</a></li>
                            <li><a title="小升初家教" href="/xiaoshengchu/" target="_blank">小升初家教</a></li><br />
                            <li><a title="初中家教" href="/chuzhong/" target="_blank"><font color="#FF4E00">初中家教</font></a></li>		
                            <li><a title="初中语文家教" href="/chuzhongyuwen/" target="_blank">初中语文</a></li>
                            <li><a title="初中数学家教" href="/chuzhongshuxue/" target="_blank">初中数学</a></li>
                            <li><a title="初中英语家教" href="/chuzhongyingyu/" target="_blank">初中英语</a></li>
                            <li><a title="初中物理家教" href="/chuzhongwuli/" target="_blank">初中物理</a></li>
                            <li><a title="初中化学家教" href="/chuzhonghuaxue/" target="_blank">初中化学</a></li>
                            <li><a title="初中生物家教" href="/chuzhongshengwu/" target="_blank">初中生物</a></li><br>
                            <li><a title="高中家教" href="/gaozhong/" target="_blank"><font color="#FF4E00">高中家教</font></a></li>
                            <li><a title="高中语文家教" href="/gaozhongyuwen/" target="_blank">高中语文</a></li>
                            <li><a title="高中数学家教" href="/gaozhongshuxue/" target="_blank">高中数学</a></li>
                            <li><a title="高中英语家教" href="/gaozhongyingyu/" target="_blank">高中英语</a></li>
                            <li><a title="高中物理家教" href="/gaozhongwuli/" target="_blank">高中物理</a></li>
                            <li><a title="高中化学家教" href="/gaozhonghuaxue/" target="_blank">高中化学</a></li>
                            <li><a title="高中生物家教" href="/gaozhongshengwu/" target="_blank">高中生物</a></li><br>
                            <li><a title="英语家教" href="/yingyu/" target="_blank">英语</a></li>
                            <li><a title="数学家教" href="/shuxue/" target="_blank">数学</a></li>
                            <li><a title="语文家教" href="/yuwen/" target="_blank">语文</a></li>
                            <li><a title="物理家教" href="/wuli/" target="_blank">物理</a></li>
                            <li><a title="化学家教" href="/huaxue/" target="_blank">化学</a></li>
                            <li><a title="生物家教" href="/shengwu/" target="_blank">生物</a></li>
                            <li><a title="政治家教" href="/zhengzhi/" target="_blank">政治</a></li>
                            <li><a title="地理家教" href="/dili/" target="_blank">地理</a></li>
                            <li><a title="历史家教" href="/lishi/" target="_blank">历史</a></li>
                            <li><a title="作文家教" href="/zuowen/" target="_blank">作文</a></li>
                            <li><a title="奥数家教" href="/aoshu/" target="_blank">奥数</a></li><br />
                            <li><a title="钢琴家教" href="/gangqin/" target="_blank">钢琴</a></li>
                            <li><a title="电子琴家教" href="/dianziqin/" target="_blank">电子琴</a></li>
                            <li><a title="古筝家教" href="/guzheng/" target="_blank">古筝</a></li>
                            <li><a title="美术家教" href="/meishu/" target="_blank">美术</a></li>	
                        </ul>
                    </div> 
                    <div id="con_one_3"  style="display:none;">
                    	<ul>
                        	<li><a href="" target="_blank">四川大学</a></li>
                        	<li><a href="" target="_blank">电子科技大学</a></li>
                        	<li><a href="" target="_blank">四川师范大学</a></li>
                        	<li><a href="" target="_blank">四川外语大学</a></li>
                        	<li><a href="" target="_blank">西南交通大学</a></li>
                            <li><a href="" target="_blank">西南财经大学</a></li>
                            <li><a href="" target="_blank">在职教师</a></li>
                            <li><a href="" target="_blank">其他</a></li>
		
                        </ul>
                    </div> 
                    <div id="con_one_4"  style="display:none;">
                    	<ul>
                                                        
                            <li><a title="大学生家教" href="/dxs/" target="_blank"><font color="#FF4E00">大学生家教</font></a></li>
                            <li><a title="在职家教" href="/jiaoshi/" target="_blank"><font color="#FF4E00">在职教师</font></a></li>
                            <li><a title="专职家教" href="/zhuanzhi/" target="_blank">专职教师</a></li>
                            <li><a rel="nofollow" href="/fdjg/" target="_blank">辅导机构教师</a></li>
                            <li><a rel="nofollow" href="/teacher/nan/" target="_blank">男老师</a></li>
                            <li><a rel="nofollow" href="/teacher/nv/" target="_blank">女老师</a></li>

                        </ul>
                    </div>
                
                </div>
    	    </li>
        </ul>
        
        
    </div>
<script  type="text/javascript">
/*标签切换*/
function setTab(name,cursel,n){
for(i=1;i<=n;i++){
var menu=document.getElementById(name+i);
var con=document.getElementById("con_"+name+"_"+i);
menu.className=i==cursel?"hover":"";
con.style.display=i==cursel?"block":"none";
}
}
</script>  
</div>  
<table  cellpadding="0" cellspacing="0" style="margin-top:5px;" >
    <tr> 
        <td>
            <fieldset align="center"> 
            <legend class="zuixin_xy"><span> 最新教员信息</span></font> </legend> 
            <p align="left">
           		<div class="T_hang" >   
                	<table class="bordered" id="jylist">
                       <thead>
                         <tr >
                            <th class="wh2">姓名</th>
                            <th class="wh2">性别</th>
                            <th class="wh3">所在院校</th>
                            <th class="wh5">可授科目</th>
                            <th class="wh4">居住地址</th>
                            <th>更新日期</th>
                            <th><img src="__PUBLIC__/images/Light.png" ></th>
   						</tr> 
                       </thead> 
                    <volist name='date' id='vo'>
                        <tr >
                            <td><{$vo.realname}></td>
                            <td><{$vo.sex}></td>
                            <td><{$vo.school}></td>
                            <td><{$vo.myfirstjob}></td>
                            <td><{$vo.gzdd}></td>
                            <td><{$vo.joindate|substr=0,10}></td> <!--截取字符串前10位-->
                            <td class="wh1"><a  class="button button-rounded button-flat-primary">马上预约</a></td>
    					</tr> 
                      </volist>  
   				
                        <tr class="borfoot jyboot">
                            <td colspan="7"><a id="more1" class="icon-double-angle-down icon-2x"></a> </td>
						</tr>  

  
  <script Type="text/javascript">
	$(document).ready(function(){
		$("#more1").click(function(){
			if ($(this).attr("class")=="icon-double-angle-down icon-2x"){
				$(this).attr("class","icon-double-angle-up icon-2x");
			}else{
				$(this).attr("class","icon-double-angle-down icon-2x");
			}
		});
	});
</script>
<script type="text/javascript">
     	$(function(){
			var $top5 =$('table#jylist tr:gt(5):not(:last)');
			$top5.hide();
			var $all10=$('tr.jyboot>td>a');
			$all10.click(function(){
				if($top5.is(":visible")){
					$top5.hide();
					//$(this).removeClass("icon-double-angle-down icon-2x")	
					//$(this).addclass("icon-double-angle-up icon-2x");
					//$(this).find('span')
						//.css("background","url(//)no-repeat 0 0");  更换背景图片和文字时的方法
						//.text("显示全部");
				}else{
					$top5.show();	
					//$(this).removeClass("icon-double-angle-up icon-2x")	
					//$(this).addclass("icon-double-angle-down icon-2x");
				}
				return false;
			})
			
		})
		
     
     </script>   
    				</table>            
				</div>
              </p>
            </fieldset>
        </td>
        
    </tr>
</table> 

 <table  cellpadding="0" cellspacing="0" style="margin-top:5px;">

    <tr> 
        <td>
            <fieldset align="center"> 
            <legend class="zuixin_xy"><span> 最新学员信息</span></font> </legend> 
            <p align="left">
           		<div class="T_hang" >   
                	<table class="bordered" id="xylist">
                       <thead>
                         <tr >
                            <th class="wh2">姓名</th>
                            <th class="wh2">地址</th>
                            <th class="wh3">学员情况</th>
                            <th class="wh5">辅导科目</th>
                            <th class="wh4">辅导时间</th>
                            <th>状态</th>
                            <th><img src="__PUBLIC__/images/Light.png" ></th>
   						</tr> 
                       </thead> 

		          <volist name='date2' id='vo1'>
                        <tr >
                            <td ><{$vo1.jzname}></td>
                            <td><{$vo1.jzdiqu}></td>
                            <td><{$vo1.xygrade}></td>
                            <td><{$vo1.fdkemu}></td>
                            <td><{$vo1.skshijian}></td>
                            <td><{$vo1.finish}></td>
                            <td class="wh1"><a class="button button-border-primary button-rounded">马上应聘</a></td>
    					</tr> 
                    </volist>
   
                      <tr class="borfoot xyboot">
                            <td colspan="7"><a id="more2" class="icon-double-angle-down icon-2x"></a> </td>
                            
    					</tr> 
<script Type="text/javascript">
	$(document).ready(function(){
		$("#more2").click(function(){
			if ($(this).attr("class")=="icon-double-angle-down icon-2x"){
				$(this).attr("class","icon-double-angle-up icon-2x");
			}else{
				$(this).attr("class","icon-double-angle-down icon-2x");
			}
		});
	});
</script>
<script type="text/javascript">
     	$(function(){
			var $top5 =$('table#xylist tr:gt(5):not(:last)');
			$top5.hide();
			var $all10=$('tr.xyboot>td>a');
			$all10.click(function(){
				if($top5.is(":visible")){
					$top5.hide();
					//$(this).removeClass("icon-double-angle-down icon-2x")	
					//$(this).addclass("icon-double-angle-up icon-2x");
				}else{
					$top5.show();	
					//$(this).removeClass("icon-double-angle-up icon-2x")	
					//$(this).addclass("icon-double-angle-down icon-2x");
				}
				return false;
			})
			
		})
		
     
     </script>  
              	</table>
			</div>
            </p>
          </fieldset>
        </td>
        
    </tr>
</table>

<div class="T_hang" style="margin-top:5px;" >   
 <table cellpadding="0" cellspacing="0" style="border: 1px solid #ccc;">
	<tr align="left" height="30px"  >
    	<td colspan="7" class="zuixin_ttt"><span>最新资讯</span></td>
    </tr>
	<tr> 
    	<td> 
       	  <table class="bordered2" >
        		
                  		<tr  >
                         	<th height="30px">教育资讯</th>
                            <th height="30px">学习资料</th>
                        
   						</tr > 
                        <tr>
                            <td style="border-top:1px solid #ccc"><a>⊙ 家长应科学对待孩子的学习分数</a></td>
                            <td style="border-top:1px solid #ccc"><a>⊕ 高考数学答题技巧 遇到难题要学会放弃</a></td>
                           
    					</tr> 
    					<tr>
                            <td><a>⊙ 激发厌学的孩子对学习的兴趣</a></td>
                            <td><a>⊕ 名师指导：一招让你炼成英语口语阅读</a></td>
                            
    					</tr>   
                      <tr>
                            <td><a>⊙ 看“小失误”怎么演变成“关键失分点”的</a></td>
                            <td> <a>⊕ SAT阅读备考的四个中肯建议</a></td>
                            
    					</tr>  
                        <tr>
                            <td><a>⊙ 人性本善：谴责孩子先要检讨自己</a></td>
                            <td><a>⊕ 四川省2009年高考理科综合试题及参考答案</a></td>
                            
    					</tr>  
					</table>
        </td>    
      </tr>
	</table>
</div>
  
 		
<!--###############################################################
###############################################################-->

       
<div class="bottmdiv"> 
<include file='Common:bottom'/>
</div>

</center>
</body>
</html>
